* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.5;
}

/* nav-bar */
.nav-bar {
    background-color: #1f2937;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}

.nav-bar .logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.nav-bar ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.nav-bar a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.nav-bar a:hover {
    color: #86b6ff;
}

/* this is for the main-content */

.main-content {
    background-color: #1f2937;
    color: #f9faf8;
    height: 500px;
    display: flex;
    padding: 40px 150px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.main-content .container h1 {
    font-weight: bolder;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 20px;
}

.main-content p {
    margin-bottom: 10px;
}

.main-content button{
    padding: 5px 15px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 3px;
    border: none;
}

.main-content img {
    width: 600px;
    height: 400px;
    background-color: grey;
}

/* this is for the random-info */
.random-info {
    text-align: center;
    margin: 20px 0px 70px;
}

.random-info .container h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 30px;
}

.random-info .container .box-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.box {
    max-width: 156px;
    flex: 1;
}

.box img {
    border: 3px solid #3882f6 ;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

/* style for quote section */
.quote {
    background-color: #e5e7eb;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 350px;
}

.quote .container .message {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
}

.quote .container .author {
    text-align: end;
    font-size: 30px;
    align-self: flex-end;
}

/* style for sign-up section */
.sign-up .container {
    margin: 70px 100px;
    background-color: #3882f6;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sign-up button {
    padding: 5px 15px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid #f9faf8;
}

/* style for footer */
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 150px;
}

@media (max-width: 768px) {
    .main-content {
        display: flex;
        flex-direction: column;
    }

    .random-info .container .box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

